/* body */
/* .page-flip {
  transform-origin: left;
  transform: rotateY(-90deg);
  transition: transform 0.6s ease;
} */
body.slide-out {
  transform: translateX(-100%);
  transition: transform 1.7s ease;
}

body {
  background-image: url("./ảnh/backrrout.jpg");
  background-repeat: no-repeat; /* không lặp ảnh */
  background-position: center; /* căn giữa ảnh */
  background-size: cover; /* ảnh phủ toàn màn hình */
}

/* xóa chằn */
.tieude {
  display: inline-block;
}

/* avatar */
img {
  width: 90px;
  border-radius: 50%;
  border: 5px dashed rgb(37, 191, 230);
}
/* font chữ */
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff, /* phát sáng xung quanh */ 0 0 5px rgb(141, 234, 255),
    0 0 10px rgb(112, 198, 224), 0 0 20px rgb(163, 246, 246),
    0 0 30px rgb(86, 174, 224);
}
strong {
  color: rgb(0, 176, 234);
}
h2 {
  text-align: center;
  left: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: rgb(0, 176, 234);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff, /* phát sáng xung quanh */ 0 0 5px rgb(141, 234, 255),
    0 0 10px rgb(112, 198, 224), 0 0 20px rgb(163, 246, 246),
    0 0 30px rgb(86, 174, 224);
}

/* tiêu đề */
.avatar_to {
  width: 700px;
  padding: 10px;
  padding-bottom: 50px;
  margin: 150px auto 0;
}
.tieude {
  background-color: rgba(240, 248, 255, 0.133);
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid rgba(255, 255, 255, 0.518);
  border-radius: 60px;
  margin-left: 50px;
}
.avatar_to img {
  vertical-align: -35px;
}
.trangchu {
  width: 123px;
  margin: 0 auto;
  margin-top: 120px;
}
a {
  display: inline-block;
  background-color: rgba(240, 248, 255, 0.133);
  text-decoration: none;
  font-size: 25px;
  border: 2px solid rgba(255, 255, 255, 0.518);
  border-radius: 35px;
  padding: 15px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff, /* phát sáng màu xanh dương */ 0 0 2px #0ff, 0 0 4px #0ff,
    0 0 6px #0ff, 0 0 8px #0ff;
}

/* hover */
a:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.49),
    rgba(0, 0, 255, 0.381)
  );
  transform: scale(1.05) !important;
  transition: transform 0.8s;
}
.tieude:hover,
img:hover,
h2:hover {
  transform: scale(1.05) !important;
  transition: transform 0.8s;
}
/*  */
/*  */
/*  */
/*  */
/* noidung */
